################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Celara/FileContentIndex/cbcb17d6-d599-4d0d-a6b3-4ad0a87b08e6.vsidx
/.vs/Celara/FileContentIndex/693ca229-9ae5-448a-9261-3d469dce5726.vsidx
/.vs/slnx.sqlite
/.vs/Celara/FileContentIndex/7aeb5fb1-a789-4beb-b01c-e8e06e8a18c1.vsidx
*.vsidx
